*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    /* background: rgb(25, 26, 36); */
    background:url('../images/bg-stars.svg'), url('../images/pattern-hills.svg');
    background-color: #191a24;
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: cover; */
    color: #fff;

    /* background-blend-mode: ; */
}

/* body::after {
    content: '';
    width: 100vw;
    height: 20vh;
    background: url('../images/pattern-hills.svg') no-repeat;
    background-position: top;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid blue;
} */



.container {
    height: 100%;
}
































.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}